workflows/document-pipeline.json
{
  "name": "Smart Document Processing Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "list"
      },
      "id": "list-models",
      "name": "List OVMS Models",
      "type": "n8n-nodes-openvino.openVinoModelServer",
      "typeVersion": 1,
      "position": [320, 300],
      "credentials": {
        "openVinoModelServerApi": {
          "id": "1",
          "name": "OVMS Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "predict",
        "modelName": "document-understanding",
        "device": "NPU",
        "apiVersion": "v2",
        "inputData": "={ \"document_text\": \"Sample invoice from Acme Corp for cloud services\" }"
      },
      "id": "extract-text",
      "name": "Extract Text (NPU)",
      "type": "n8n-nodes-openvino.openVinoModelServer",
      "typeVersion": 1,
      "position": [560, 300],
      "credentials": {
        "openVinoModelServerApi": {
          "id": "1",
          "name": "OVMS Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "predict",
        "modelName": "llm-classifier",
        "device": "GPU",
        "apiVersion": "v2",
        "inputData": "={ \"prompt\": \"Classify this document and extract entities\" }"
      },
      "id": "classify-doc",
      "name": "Classify & Extract (GPU)",
      "type": "n8n-nodes-openvino.openVinoModelServer",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "openVinoModelServerApi": {
          "id": "1",
          "name": "OVMS Local"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"filename\": \"demo-document.pdf\",\n  \"document_type\": {{ $json.outputs ? JSON.parse($json.outputs[0].data[0]).document_type : 'unknown' }},\n  \"extracted_entities\": {{ $json.outputs ? $json.outputs[0].data[0] : '{}' }},\n  \"processing_device\": {{ JSON.stringify($json._meta) }},\n  \"status\": \"processed\"\n}",
        "options": {}
      },
      "id": "format-output",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List OVMS Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List OVMS Models": {
      "main": [
        [
          {
            "node": "Extract Text (NPU)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text (NPU)": {
      "main": [
        [
          {
            "node": "Classify & Extract (GPU)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify & Extract (GPU)": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
